*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 641px) and (max-width: 1200px) {
    .container {
        padding-left: 35px;
        padding-right: 35px;
    }
}

@media (max-width: 640px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.header {
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    background-image: url(../images/banner-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000000;
    /*padding-top: 36px;*/
    /*padding-bottom: 128px;*/
    padding: 30px 0;
    position: relative;
    z-index: 2;
}

.header::after{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
}

.header_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*.logo-link {*/
/*    text-decoration: none;*/
/*}*/

.header_logo {
    width: 180px;
}

.burger_menu {
    display: none;
}

.burger_menu span {
    transition: all 0.3s ease 0s;
    top: 8px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
}

.burger_menu span:first-child {
    top: 0;
}

.burger_menu span:last-child {
    top: auto;
    bottom: 0;
}

.burger_menu.active span {
    transform: scale(0);
}

.burger_menu.active span:first-child {
    transform: rotate(-45deg);
    top: 8px;
}

.burger_menu.active span:last-child {
    transform: rotate(45deg);
    top: 8px;
}

.menu_list {
    display: flex;
    padding-left: 0;
    list-style: none;
    flex-wrap: wrap;
    /*   margin-top: 45px; */
}

.menu_list_items:nth-child(n + 2) {
    margin-left: 50px;
}

.menu_link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    color: #ffffff;
    line-height: 1.2;
}

.menu_link:hover {
    text-decoration: underline;
}

.header_title {
    font-weight: bold;
    font-size: 45px;
    line-height: 1.67;
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    margin-right: auto;
    margin-left: auto;
    padding: 130px 0 120px 0;
    max-width: 780px;
}

@media (min-width: 641px) and (max-width: 1200px) {
    .header {
        background-image:  url(../images/banner-bg-tablet.jpg);
        padding: 35px 0;
    }
    .header_logo {
        width: 155px;
    }

    .menu {
        display: none;
    }

    .burger_menu {
        display: block;
        position: absolute;
        top: 50px;
        right: 35px;
        width: 23px;
        height: 18px;
        cursor: pointer;
    }
}

@media (max-width: 640px) {
    .header {
        background-image: url(../images/banner-mobile.jpg);
    }

    .header_links {
        justify-content: center;
        padding-top: 225px;
    }

    .header_logo {
        width: 270px;
    }

    .menu {
        display: none;
    }

    .burger_menu {
        display: block;
        position: absolute;
        top: 30px;
        right: 15px;
        width: 23px;
        height: 18px;
        cursor: pointer;
    }

    .header_title {
        font-size: 26px;
        padding: 40px 15px 215px 15px;
    }
}

/*MAIN*/

/*TRENDS_STYLE*/

.trends_box {
    max-width: 1660px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.h2.section_title_trend {
    font-size: 20px;
}

.trends {
    display: flex;
    margin-top: 30px;
}

.trend_card {
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    margin-left: 3px;
    min-height: 320px;
    align-content: flex-end;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #000000;
    background-size: cover;
    position: relative;
    z-index: 0;
}

.trend_card::after {
    content: "";
    position: absolute;
    background-color: #000000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.6;
    z-index: -1;
}

.trend_card:nth-child(1) {
    margin-left: 0;
    background-image: url(../images/trend1.jpg);
}

.trend_card:nth-child(2) {
    background-image: url(../images/trend2.jpg);
}

.trend_card:nth-child(3) {
    background-image: url(../images/trend3.jpg);
}

.trend_card:nth-child(4) {
    background-image: url(../images/trend4.jpg);
}

.trend_card_info {
    padding: 20px;
    margin: 20px;
    border: 4px solid rgb(181, 159, 91);
}

a.post_title_trend_card {
    color: #ffffff;
}

@media (min-width: 641px) and (max-width: 1200px) {
    .trends_box {
        margin-top: 45px;
    }

    .trends {
        margin-top: 20px;
        flex-wrap: wrap;
    }

    .trend_card {
        width: calc(50% - 1.5px);
        min-height: 250px;
        margin: 0 0 3px 3px;
    }

    .trend_card:nth-child(3) {
        margin: 0;
    }

    .trend_card:nth-child(4) {
        margin-bottom: 0;
    }
}

@media (max-width: 640px) {

    .trends_box {
        margin-top: 40px;
    }

    .trends {
        margin-top: 25px;
        flex-wrap: wrap;
    }

    .trend_card {
        width: 100%;
        margin: 0 0 3px 0;
    }

    .trend_card:last-child {
        margin-bottom: 0;
    }

    h2.section_title_trend, h3.section_title, .shop_title {
        font-size: 16px;
    }
}

/*STYLE POSTS*/

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.posts {
    max-width: 780px;
}

.post_card {
    display: flex;
}

.post_card:not(:last-child) {
    margin-bottom: 60px;
}

.post_image {
    max-width: 380px;
}

.post_content {
    margin-left: 30px;
}

.tegs_list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.tegs_link {
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #b59f5b;
}

.tegs_link:hover {
    text-decoration: underline;
}

.post_header {
    margin-bottom: 30px;
}

.post_title {
    color: #0f0d0e;
    text-transform: uppercase;
    text-decoration: none;
    /* font-size: 14px; */
    line-height: 24px;
}

.post_title:hover {
    color: #b59f5b;
}

.date_author {
    margin-right: 15px;
    margin-top: 30px;
}

.post_date {
    font-size: 12px;
    color: #888888;
    margin-right: 18px;
}

.post_author {
    font-size: 12px;
    color: #000000;
    font-weight: bold;
}

.post_purport {
    line-height: 22px;
    color: #0f0d0e;
}

.post_purport > p:not(:first-child) {
    margin-top: 15px;
}

@media (min-width: 641px) and (max-width: 1200px) {

    .content {
        justify-content: center;
        margin-top: 45px;
    }

    .posts {
        max-width: 380px;
        margin-right: 35px;
    }

    .post_card {
        flex-wrap: wrap;
    }

    .post_image {
        display: flex;
        flex-shrink: 1;
    }

    .post_image img {
        max-width: 100%;
    }

    .post_card:not(:last-child) {
        border-bottom: 3px solid #eeeeee;
        margin-bottom: 40px;
    }

    .post_content {
        padding-top: 10px;
        margin-left: 0;
    }

    .post_purport {
        margin-bottom: 15px;
    }
}

@media (max-width: 640px) {
    .content {
        display: flex;
        flex-wrap: wrap;
    }

    .post_card {
        flex-wrap: wrap;
        border-bottom: 3px solid #eeeeee;
    }

    .post_image {
        display: flex;
        flex-shrink: 1;
    }

    .post_image img {
        max-width: 100%;
    }

    .post_content {
        padding-top: 10px;
        margin: 0;
    }

    .post_header {
        margin-bottom: 20px;
    }

    .date_author {
        margin-top: 20px;
    }

    .post_purport {
        margin-bottom: 20px;
    }

    .post_card:not(:last-child) {
        margin-bottom: 35px;
    }

    .post_card:last-child {
        margin-bottom: 45px;
    }
}

/*ASIDE STYLE*/

.sidebar {
    width: 270px;
}

.sidebar_section {
    display: flex;
    flex-wrap: wrap;
}

.sidebar_section:not(:last-child) {
    margin-bottom: 60px;
}

.section_title {
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5px;
}

.section_title:after {
    content: '';
    display: block;
    width: 66px;
    height: 3px;
    margin: 9px auto 6px;
    background-color: #b59f5b;
    opacity: 0.6;
}

.new_post {
    display: flex;
    margin-top: 22px;
}

.new_post_image {
    width: 70px;
    margin-right: 20px;
}

.new_post_content {
    width: 180px;
}

.new_post_date {
    font-size: 12px;
    color: #888888;
    display: block;
    margin-top: -4px;
    margin-bottom: 5px;
}

.new_post_title {
    color: #0f0d0e;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 11px;
    line-height: 18px;
}

.new_post_title:hover {
    color: #b59f5b;
}


.form_search {
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
}

.form_search_group {
    display: block;
    width: 220px;
}

.form_field {
    border: none;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-left: 18px;
    padding-right: 18px;
    font-family: inherit;
    font-size: 13px;
    background-color: #f4f7f6;
    color: #000000;
    opacity: 0.6;
}

.form_field:focus {
    outline: none;
    border: 2px solid #b59f5b;
    padding-left: 16px;
}

.button {
    box-sizing: border-box;
    height: 50px;
    border: none;
    cursor: pointer;
    background-color: #b59f5b;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}

.form_search_button {
    width: 50px;
    background-image: url(../svg/search.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px;
}

.button:hover {
    background-color: #323232;
}

.form_field_email {
    display: inline-block;
    min-width: 270px;
    height: 50px;
    margin-top: 22px;
    margin-bottom: 17px;
}

.form_mailing_button {
    width: 100%;
}

.tags_list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 22px;
}

.tags_link {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: bold;
    font-size: 12px;
    color: #000000;
    border: 3px solid #eeeeee;
    padding: 7px 14px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.tags_link:hover {
    border-color: #b59f5b;
}

.section_list {
    display: block;
}

.themes_list {
    list-style: none;
    flex-direction: column;
    margin-top: 22px;
}

.themes_list_items {
    display: flex;
}

.themes_link {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    font-family: inherit;
    font-weight: bold;
    font-size: 14px;
    color: #000000;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #eeeeee;
    padding: 17px 0;
    margin-right: 5px;
}

.themes_link:hover {
    color: #b59f5b;
}

.themes_link_numbers {
    font-size: 12px;
    color: #b59f5b;
    padding-left: 5px;
    vertical-align: super;
}

@media (max-width: 640px) {
    .sidebar {
        width: 100%;
    }

    .new_post {
        width: 100%;
    }

    .new_post_content {
        width: auto;
    }

    .form_search_group {
        width: calc(100vw - 80px);
    }

    .form {
        width: 100%;
    }

    .section:not(:last-child) {
        margin-bottom: 45px;
    }
}


/*скрытое описание */

.form_hint {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*SHOP STYLE*/

.shop_container {
    margin-top: 60px;
}

.shop_box {
    display: flex;
    justify-content: space-between;
}

.shop_cards {
    max-width: 300px;
    margin: 23px;
}

.post_products {
    min-height: 198px;
}

.shop_content {
    outline: 4px solid rgb(181, 159, 91);
    outline-offset: 19px;
    padding-top: 25px;
    margin-top: -10px;
    height: calc(100% - 198px);
}

.shop_title {
    text-transform: uppercase;
    padding-bottom: 8px;
}

.shop_info {
    margin-bottom: 24px;
}

.shop_info a {
    color: #b59f5b;
    text-decoration: none;
}

.shop_info a:hover {
    text-decoration: underline;
}

.shop_interaction {
    display: flex;
    justify-content: space-between;
}

.shop_price {
    align-self: center;
}

.old_price {
    text-transform: uppercase;
    text-decoration: line-through;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
}

.new_price {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
}

.shop_button {
    display: block;
    min-width: 140px;
}

@media (min-width: 641px) and (max-width: 1200px) {
    .shop_container {
        margin-top: 45px;
    }

    .shop_box {
        flex-wrap: wrap;
    }
}

@media (max-width: 640px) {
    .shop_container {
        margin-top: 45px;
    }

    .shop_box {
        flex-wrap: wrap;
        justify-content: center;

    }
}

/*FOOTER*/

.footer {
    margin-top: 60px;
}

.address {
    background-color: #f4f7f6;
    margin-bottom: 70px;
    padding: 30px 0;
}

.social_list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_list_item:not(:first-child) {
    margin-left: 20px;
}


.social_icon {
    display: block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}

.social_icon_dribbble {
    background-image: url("../svg/001-dribbble.svg");
}

.social_icon_pinterest {
    background-image: url("../svg/001-pinterest.svg");
}

.social_icon_tumblr {
    background-image: url("../svg/003-tumblr.svg");
}

.form_hint {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.copyright {
    text-align: center;
    margin-bottom: 40px;
}

.copyright_link {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #999999;
}

@media (max-width: 640px) {
    .footer {
        margin-top: 45px;
    }

    .address {
        margin-bottom: 45px;
    }
}

/*POPUP*/

.popup {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.75);
    overflow-y: auto;

    /* position: fixed; */
    top: 0;
    left: 0;
    display: flex;
}

.popup_container {
    max-width: 390px;
    width: 95%;
    margin: auto;
    padding: 50px 30px;
    background-color: #ffffff;
    position: relative;
}

.form_group {
    display: block;
    margin-top: 25px;
}

.form_group_text {
    display: block;
    margin-bottom: 10px;
    font-family: inherit;
    font-size: 13px;
}

.select {
    border: none;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding-left: 18px;
    padding-right: 30px;
    font-family: inherit;
    font-size: 13px;
    color: #000000;
    opacity: 0.6;
    background-color: #f4f7f6;
    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(../svg/form-arrows.svg);
    background-size: 8px;
    background-repeat: no-repeat;
    background-position: right 10px top 19px;
}

.select:hover {
    border: 2px solid #b59f5b;
    padding-left: 16px;
    background-position: right 8px top 17px;
}

.select:focus {
    outline: none;
    border: 2px solid #b59f5b;
    padding-left: 16px;
    background-position: right 8px top 17px;
}

.checkbox_group {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}

.checkbox_group:last-child {
    margin-right: 0;
}


.checkbox {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    height: 1px;
    width: 1px;
}

.checkbox_text {
    display: inline-block;
    font-size: 14px;
}

.checkbox_text_first::before {
    content: "";
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-image: url(../svg/form-empty-circle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
}

.checkbox_text_second::before {
    content: "";
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-image: url(../svg/form-empty-circle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
}

/*checked/unchecked*/

.checkbox:checked ~ .checkbox_text_first::before {
    background-image: url(../svg/form-circle.svg);
}

.checkbox:checked ~ .checkbox_text_second::before {
    background-image: url(../svg/form-circle.svg);
}

/*TEXTAREA STYLE*/

.textarea {
    border: none;
    box-sizing: border-box;
    width: 100%;
    min-height: 130px;
    padding: 15px;
    font-family: inherit;
    font-size: 13px;
    color: #000000;
    opacity: 0.6;
    background-color: #f4f7f6;
    cursor: pointer;
    resize: none;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.textarea:focus {
    outline: none;
    border: 2px solid #b59f5b;
    padding-left: 16px;
    padding-top: 16px;
}

.button_popup {
    width: 100%;
    margin-top: 25px;
}

@media (max-width: 640px) {
    .popup_container  {
        padding: 25px;
        max-width: 330px;
    }
}

/*BUTTON TO CLOSE*/

.popup_close {
    background-color: transparent;
    border: none;
    padding: 0;
    text-indent: -10000px;
    cursor: pointer;
}

.popup_close:before, .popup_close:after {
    content: "";
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
}

.popup_close:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.popup_close:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.popup_close {
    width: 1.4em;
    height: 1.0em;
    font-size: 16px;

    position: absolute;
    top: -1.5em;
    right: 0;
}

.popup_close:before, .popup_close:after {
    width: 1.4em;
    height: 0.2em;
}

@media (max-width: 640px) {
    .popup_close {
        font-size: 14px;
    }
}



